---
import { Image } from "astro:assets";
import { useTranslations } from "@i18n/util";
import { format } from "date-fns";
import { Button } from "@serverless-cd/goat-ui";
import {SITE} from "@utils/config"

const t = useTranslations(Astro);

const { type = "blog", source, post, classList = [] } = Astro.props;

const { data: postData } = post;

postData.date = new Date(postData.date);
---

<div class:list={[...classList, "new-card-wrapper"]}>
  <div
    class="new_card_container flex flex-row bg-primary/[0.9] text-secondary rounded-3xl"
  >
    <div class="new_card_container_left basis-2/5 p-2">
      <div class="shadow-xl poster rounded-3xl w-full h-full">
        <Image
          src="https://img.alicdn.com/imgextra/i4/O1CN01RCVHvA1Jor5A5fnIx_!!6000000001076-2-tps-800-800.png"
          alt="Background"
          class:list={["background", "z-0", "rounded-3xl", "w-auto"]}
          width="400"
          height="400"
        />
      </div>
      {type !== "blog" && <slot name="left-content" />}
    </div>
    <div class="new_card_container_right basis-3/5 py-6 px-9">
      {
        type === "blog" && (
          <div class="flex flex-col h-96">
            <div class="flex-[0_0_auto] mb-auto">
              <div class="text-2xl text-error leading-8">{postData.title}</div>
              <div class="text-secondary text-xs mt-6 leading-5">
                by
                <span class="ml-1.5"> {postData.author || SITE.name}</span>
                <span class=" ml-1.5">
                  {t("blog.card.author.alibaba.Cloud.engineer")}
                </span>
              </div>
              <div class="mt-8 text-sm leading-6">{postData.description}</div>
            </div>

            <div class="flex-[0_0_auto] mt-auto">
              <Button
                variant="secondary"
                class="font-medium mb-5 rounded-lg"
                href={`/blog/${post.slug}/?source=${source}/`}
                text={t("blog.card.btn.read")}
              />
              <div class="card-bottom flex flex-row justify-between blog_latest_bottom pt-2.5 ">
                <div class="text-secondary text-sm font-medium leading-5">
                  {format(postData.date, "MMM d, yyyy")}
                </div>
                <div class="h-2">
                  <Image
                    src="/logo_white.svg"
                    alt={`${SITE.name} logo`}
                    class="h-8"
                    width={100}
                    height="200"
                  />
                </div>
              </div>
            </div>
          </div>
        )
      }
      {type !== "blog" && <slot name="right-content" />}
    </div>
  </div>
</div>

<style is:global>
  .new-card-wrapper {
    a {
      text-decoration: none;
    }
    .poster {
      position: relative;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .new_card_container {
      min-height: 420px;
      transition:
        transform 0.2s,
        box-shadow 0.2s;
    }
    .new_card_container:hover {
      transition:
        transform 0.2s,
        box-shadow 0.2s;
      transform: translateY(-4px);
      box-shadow:
        4px 4px 8px rgba(0, 0, 0, 0.1),
        -4px -4px 8px rgba(0, 0, 0, 0.1);
    }

    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .title {
      font-size: 1.25em; /* 调整为合适的大小 */
      text-align: center;
      z-index: 5;
      line-height: 1.5em;
    }

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .logo {
      width: 40px;
      height: auto;
    }

    .card-bottom {
      border-top: 1px solid theme("colors.secondary");
    }

    /* 小于50rem  小于 800px */
    @media (max-width: 50rem) {
      .poster {
        height: 200px;
      }
      .new_card_container {
        flex-direction: column;
        height: auto;
        /* margin: 0 1rem; */
      }
    }
    /* 大于50rem 小于 72rem  800px < width < 1152 */
    @media (min-width: 50rem) and (max-width: 72rem) {
    }
  }
</style>
