---
import { Button } from "@serverless-cd/goat-ui";
import { useTranslations, isChinese } from "@i18n/util";
const ifzh = isChinese(Astro);

function formatDate(dateString) {
  const options: Intl.DateTimeFormatOptions = { year: 'numeric', month: 'long', day: 'numeric' };
  const date = new Date(dateString);
  return new Intl.DateTimeFormat('en-US', options).format(date);
}

const t = useTranslations(Astro);
export type Props = {
  source: string;
  post: {
    slug: string;
    body: string;
    collection: string;
    excerpt?: string;
    data: {
      title: string;
      description: string;
      date: string;
      keywords?: any[];
    };
  };
  class?: string;
  useAnchor?: boolean;
};

const { post, source, class: className = "", useAnchor=false, } = Astro.props;
---
<a class={"card h-[250px] p-[24px] shadow-none w-full flex " + className}href={`${ifzh ? '' : '/en'}/${source}/${post.slug}/?source=${source}/`}>
    <!-- 锚点 -->
    {useAnchor?<p id={post.slug} class={"absolute z-[-100] top-[-4rem]"}></p>:null}
    
    <p class="flex-1 text-gray-07 text-xs font-normal">
        {formatDate(post.data.date)}
    </p>
    <h2 class="flex-1 card-title text-gray-14 line-clamp-2 font-normal text-2xl truncate">
      {post.data.title}
    </h2>
    <div class="flex-[3_3_0%] w-full text-lg leading-8 overflow-hidden mt-[24px] simple-card-desc">
        {post.excerpt || post.data.description}
    </div>
</div>

<style>
  .card {
    transition:
      transform 0.2s,
      box-shadow 0.2s;
  }
  .card:hover {
    transition:
      transform 0.2s,
      box-shadow 0.2s;
    transform: translateY(-4px);
    box-shadow:
      4px 4px 8px rgba(0, 0, 0, 0.1),
      -4px -4px 8px rgba(0, 0, 0, 0.1);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  h2 {
    min-height: 3rem;
  }
  .simple-card-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #848487;
  }
</style>