---
import { Image } from "astro:assets";
import { useTranslations, isChinese } from "@i18n/util";
import { COMPANY_CUSTOMERS } from "@/constant";
import { CarouselCard, Headline } from "@serverless-cd/goat-ui";
const t = useTranslations(Astro);
const ifzh = isChinese(Astro);

const themeCardColor = {
  gray: {
    bg: "bg-success",
    text: "text-base-100",
    logo: "text-secondary",
  },
  dark: {
    bg: "bg-neutral",
    text: "text-base-100",
    logo: "text-secondary",
  },
  light: {
    bg: "bg-muted",
    text: "text-neutral",
    logo: "text-neutral",
  },
};
---

<companies-feedback
  class="companies-feedback flex flex-col justify-center items-center bg-base-100 pb-[3.25rem] pt-36 px-6 md:px-10 lg:px-0"
>
  <Headline
    tagline={t("cloud.feedback.about")}
    title={t("cloud.feedback.title")}
    titleTheme="neutral"
    taglineTheme="info"
  />

  <ul
    class="p-0 w-full lg:w-[85.125rem] relative flex overflow-hidden rounded-2xl"
  >
    <CarouselCard datasource={COMPANY_CUSTOMERS} time="100s">
      {
        (item) => (
          <li class="list-none">
          <a href={item.href} target="_blank" class="no-underline">
            <div
              class:list={[
                "flex",
                "flex-col",
                "md:p-8",
                "px-6",
                "pt-6",
                "rounded-2xl",
                "md:w-[31.25rem]",
                "mx-2",
                "md:my-0",
                "my-2",
                {
                  "md:text-[1.25rem]": ifzh,
                  "text-[1rem]": ifzh,
                  "leading-9": ifzh,
                  "text-2xl": !ifzh,
                  [themeCardColor.gray.bg]: item.theme === "gray",
                  [themeCardColor.dark.bg]: item.theme === "dark",
                  [themeCardColor.light.bg]: item.theme === "light",
                },
              ]}
            >
              <p
                class:list={[
                  "normal-case",
                  "md:whitespace-normal",
                  "line-clamp-2",
                  "md:line-clamp-none",
                  {
                    [themeCardColor.gray.text]: item.theme === "gray",
                    [themeCardColor.dark.text]: item.theme === "dark",
                    [themeCardColor.light.text]: item.theme === "light",
                  },
                ]}
              >
               {t(item.description)}
              </p>
              <div class="flex justify-between md:mt-[10rem] mt-[1.5rem] items-center ">
                <div
                  class:list={[
                    "text-xs",
                    {
                      [themeCardColor.gray.logo]: item.theme === "gray",
                      [themeCardColor.dark.logo]: item.theme === "dark",
                      [themeCardColor.light.logo]: item.theme === "light",
                    },
                  ]}
                >
                  {t(item.name)}
                </div>
                <Image
                  src={item.logo}
                  width="80"
                  height="65"
                  alt={t(item.name)}
                  class="object-contain"
                />
              </div>
            </div>
          </a>
          </li>
        )
      }
    </CarouselCard>
  </div>
</companies-feedback>

<style is:global>
  .companies-feedback{
    overflow: hidden;
  .slider {
    transition: background-color 0.5s;
  }

  img {
    cursor: pointer;
    transition: filter 0.5s;
  }

  a {
    text-decoration: none; /* 清除下划线等默认样式 */
    color: inherit; /* 继承父元素的颜色 */
  }
}
</style>
