---
import { useTranslations } from "@i18n/util";
import { LinkButton } from "@serverless-cd/goat-ui"
import { SOLUTION_LIST } from "@/constant";

const t = useTranslations(Astro);
---

<span class="card-solution-wrapper">
<card-solution class="card-solution block bg-secondary mb-4 mt-9">
  <div class="bottom-solutions-card flex items-center justify-center h-fit">
    <div
      class="solution-container h-[31.75rem] w-full flex flex-nowrap justify-start"
    >
      {
        SOLUTION_LIST.map((item, index) => {
          const { src, checked } = item;
          return (
            <>
              <input
                type="radio"
                name="silder"
                id={`c${index}`}
                checked={checked}
              />
              <label
                for={`c${index}`}
                input-id={`c${index}`}
                class="solutions-card overflow-hidden flex flex-col justify-between cursor-pointer rounded-2xl mx-2"
              >
                <div class="mx-16 ">
                  <div class="main-title text-xs text-base-100 mt-[1.25rem] tracking-[0.15em] text-center opacity-0 tracking-wider">
                    {t("home.solutions.about")}
                  </div>
                  <div class="item-title text-base-100 text-[2.5rem] leading-[3rem] mt-[3.125rem] opacity-0 mb-7">
                    {t(item.title)}
                  </div>
                  {item.keyword.map((it) => {
                    return (
                      <span class="item-keyword opacity-0 border border-secondary rounded-[2.25rem] h-8 px-6 py-2 text-xs text-base-100 mr-3 inline-block mb-4">
                        {t(it)}
                      </span>
                    );
                  })}
                </div>
                <div class="button opacity-0 mx-auto mb-[3.75rem]">
                  <LinkButton  
                    href={src}
                    text={t("home.solutions.action")}   
                    theme="secondary"    
                    textTheme="neutral" 
                  />
                 
                </div>
              </label>
            </>
          );
        })
      }
    </div>
  </div>

  <div class="mobile-bottom-solutions-card w-full flex flex-col hidden">
    {
      SOLUTION_LIST.map((item, index) => {
        const { src, title } = item;
        return (
          <div class="solutions-mobile-card mx-auto h-[14rem] overflow-hidden flex flex-col justify-between cursor-pointer p-4 rounded-3xl">
            <div class="flex align-center flex-nowrap w-full">
              <div class="mx-auto text-xs font-normal text-neutral tracking-wider">
                {t("home.solutions.about")}
              </div>
            </div>
            <div class="w-full text-base-100 text-base">{t(title)}</div>
            <div class="button mx-auto">
              <LinkButton  
                href={src}
                text={t("home.solutions.action")}  
                theme="secondary"    
                textTheme="neutral" 
              />
            </div>
          </div>
        );
      })
    }
  </div>
</card-solution>
</span>

<script>
  class HomeSolutionCard extends HTMLElement {
    cardSolution: Element | null = null;
    currentInputid: string;
    flag: boolean;
    constructor() {
      super();
      // 初始化时不要访问 DOM 或设置属性
      this.currentInputid = "c0";
      this.flag = true;
      // 由于在 constructor 中无法访问 DOM，所以不在这里绑定事件
    }

    // 使用 connectedCallback 来设置初始化逻辑和事件监听器
    connectedCallback() {
      var _this = this;
      this.cardSolution = this.querySelector(".solution-container");
      if (this.cardSolution) {
        this.cardSolution.addEventListener("mouseover", function (e) {
          _this.selectedLabel(e);
        });
      }
    }

    selectedLabel(e) {
      var _this = this;
      var inputId = e.target.getAttribute("input-id");
      if (this.flag && inputId && inputId !== this.currentInputid) {
        this.currentInputid = inputId;
        this.flag = false;
        setTimeout(function () {
          _this.flag = true;
        }, 200);
        var input = this.querySelector("input[type=radio]#" + inputId);
        if (input && !input.checked) {
          input.checked = true;
        }
      }
    }
  }

  customElements.define("card-solution", HomeSolutionCard);
</script>

<style is:global>
  .card-solution-wrapper {
    .bottom-solutions-card {
      width: 85.125rem;
    }
    .solutions-card {
      /* 默认宽度 */
      width: 9.75rem;
      background-size: cover;
      transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
      /* box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8); */
      background-size: cover;
      /* background-position: center; */
    }
    .solution-container > .solutions-card:first-of-type {
      margin-left: 0;
    }
    .solution-container > .solutions-card:last-of-type {
      margin-right: 0;
    }
    @keyframes showcontent {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    input {
      display: none;
    }
    input:checked + label {
      flex: 1;
      animation: zoom-animation 5s 0.6s infinite;
    }
    input:checked + label .main-title {
      animation: showcontent 0.3s ease-in-out 0.3s 1 forwards;
    }
    input:checked + label .item-title {
      animation: showcontent 0.3s ease-in-out 0.3s 1 forwards;
    }
    input:checked + label .item-keyword {
      animation: showcontent 0.3s ease-in-out 0.3s 1 forwards;
    }
    input:checked + label .button {
      animation: showcontent 0.3s ease-in-out 0.3s 1 forwards;
    }

    .solutions-card[for="c0"] {
      background-image: url("https://img.alicdn.com/imgextra/i4/O1CN01Qf11B01Zfj4RUreAQ_!!6000000003222-0-tps-1000-667.jpg");
    }
    .solutions-card[for="c1"] {
      background-image: url("https://img.alicdn.com/imgextra/i3/O1CN01kacemR1iwyWsPv7He_!!6000000004478-0-tps-1000-667.jpg");
    }
    .solutions-card[for="c2"] {
      background-image: url("https://img.alicdn.com/imgextra/i4/O1CN01SVcJ1n253JYZgR4A5_!!6000000007470-0-tps-1000-667.jpg");
    }
    .solutions-card[for="c3"] {
      background-image: url("https://img.alicdn.com/imgextra/i2/O1CN01M1XatB1r8RMxNmGKu_!!6000000005586-0-tps-1000-667.jpg");
    }

    @keyframes zoom-animation {
      0% {
        background-size: 100% cover;
      }
      5% {
        background-size: 100% auto;
      }
      50% {
        background-size: 140% auto;
      }
      100% {
        background-size: 100% auto;
      }
    }

    /* 小于50rem  小于 800px */
    @media (max-width: 50rem) {
      .card-solution {
        width: 100%;
      }
      .top-title {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
      }
      .top-title .title {
        font-size: 1.125rem; /* 18px */
        line-height: 1.75rem; /* 28px */
      }
      .bottom-solutions-card {
        width: 100%;
        display: none !important;
      }
      .mobile-bottom-solutions-card {
        display: block !important;
      }
      .solutions-mobile-card {
        background-size: cover;
        background-image: url("https://img.alicdn.com/imgextra/i4/O1CN01Qf11B01Zfj4RUreAQ_!!6000000003222-0-tps-1000-667.jpg");
      }
      .mobile-bottom-solutions-card > .solutions-mobile-card:first-of-type {
        margin-bottom: 1rem;
      }
      .mobile-bottom-solutions-card > .solutions-mobile-card:nth-child(2) {
        margin-bottom: 1rem;
      }
      .mobile-bottom-solutions-card > .solutions-mobile-card:nth-child(3) {
        margin-bottom: 1rem;
      }
    }

    /* 大于50rem 小于 72rem  800px < width < 1152 */
    @media (min-width: 50rem) and (max-width: 86rem) {
      .card-solution {
        width: 100%;
      }
      .bottom-solutions-card {
        width: 100%;
      }
      .solution-container {
        width: 100%;
      }
      input:checked + label {
        flex: 1;
      }
    }
  }
</style>
