---
import { CarouselCard } from "@serverless-cd/goat-ui";
// import { MICROSERVICE_SOLUTION } from "@/constant";
import { useTranslations } from "@i18n/util";
import { Arrow } from "../icon";
const t = useTranslations(Astro);

const MICROSERVICE_SOLUTION = [
  {
    title: "Spring Cloud Alibaba SEATA",
    image: "/assets/2-1.jpg",
    detailTitle: "home.introduction.detailTitle.1",
    detail: "home.introduction.detail.1",
  },
  {
    title: "Spring Cloud Alibaba Sentinel",
    image: "/assets/2-2.jpg",
    detailTitle: "home.introduction.detailTitle.2",
    detail: "home.introduction.detail.2",
  },
  {
    title: "Spring",
    image: "/assets/2-3.jpg",
    detailTitle: "home.introduction.detailTitle.3",
    detail: "home.introduction.detail.3",
  },
  {
    title: "Spring Cloud Alibaba Nacos",
    image: "/assets/2-4.jpg",
    detailTitle: "home.introduction.detailTitle.4",
    detail: "home.introduction.detail.4",
  },
  {
    title: "Spring Cloud Alibaba Nacos",
    image: "/assets/2-5.jpg",
    detailTitle: "home.introduction.detailTitle.5",
    detail: "home.introduction.detail.5",
  },
  {
    title: "Spring Cloud Alibaba Nacos",
    image: "/assets/2-6.jpg",
    detailTitle: "home.introduction.detailTitle.6",
    detail: "home.introduction.detail.6",
  },
  {
    title: "Spring Cloud Alibaba Nacos",
    image: "/assets/2-7.jpg",
    detailTitle: "home.introduction.detailTitle.7",
    detail: "home.introduction.detail.7",
  },
];
---

<div class="flex flex-col justify-center items-center mt-16 solution-wrapper">
  <div class="lg:w-[85.125rem] md:w-full">
    <div
      class="solution-slogan md:w-[438px] h-[41px] text-success text-[16px] md:text-[20px] leading-4 rounded-[20px] px-5 py-3"
    >
     Spring Cloud Alibaba 提供的微服务解决方案
    </div>
  </div>

  <div class="lg:w-[85.125rem] md:w-full">
    <CarouselCard datasource={MICROSERVICE_SOLUTION}>
      {
        (item) => (
          <div class=" w-[328px] md:h-[487px] h-[300px] mt-8 mx-4 border-t border-muted mb-5 md:mb-[71px] overflow-hidden rounded-2xl">
            <div class=" my-4 text-[16px] text-warning leading-4">
              {item.title}
            </div>
            <div
              style={{ backgroundImage: `url(${item.image})` }}
              class="solution bg-cover bg-no-repeat w-[328px] h-[439px] rounded-2xl flex justify-center px-8 pt-8 "
            >
              <div class=" solutionDetail hidden  w-[288px] h-[139px] rounded-2xl px-[22px] pt-[22px] backdrop-blur-3xl text-base">
                <div class=" flex justify-between text-info">
                  <span>{t(item.detailTitle)}</span>
                  <span class="arrow-icon">
                    <Arrow classes="fill-info" />
                  </span>
                </div>
                <div class="mt-[22px] text-primary whitespace-normal">
                  {t(item.detail)}
                </div>
              </div>
            </div>
          </div>
        )
      }
    </CarouselCard>
  </div>
</div>
<style is:global>
  .solution-wrapper {
    .solution-slogan {
      background: linear-gradient(
        90deg,
        rgba(157, 215, 162, 0.3) 11%,
        rgba(165, 198, 230, 0.29) 104%,
        rgba(143, 168, 166, 0.14) 104%
      );
      color: #6b8a88;
    }
    .solution {
      &:hover {
        .solutionDetail {
          display: flex;
          flex-direction: column;
        }
        .arrow-icon {
          opacity: 0; /* 开始时隐藏 */
          transform: translate(-100%, 100%); /* 从左下角开始 */
          animation: fadeInUp 1s ease forwards;
        }
      }
    }

    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translate(-100%, 30%);
      }
      to {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
</style>
